<div id="education" class="mb-4">
  <h2>Formazione</h2>
  <div class="cvPartElement">
    <h6>ITS Academy Apulia digital</h6>
    <small class="text-muted">Dec 2025 - In corso...</small>
  </div>
  <div class="cvPartElement">
    <h6>E.M.C. Tecnologie Industriali</h6>
    <small class="text-muted">Lug 2025 - Ago 2025</small>
  </div>
  <div class="cvPartElement">
    <h6>Woom Italia</h6>
    <small class="text-muted">Dec 2024 - Gen 2025</small>
  </div>
  <div class="cvPartElement">
    <h6>I.I.S.S. Ettore Majorana</h6>
    <small class="text-muted">Set 2019 - Giu 2021</small>
  </div>
  <div class="cvPartElement">
    <h6>I.P.S.S.A.R. Armando Perotti</h6>
    <small class="text-muted">Set 2015 - Giu 2019</small>
  </div>
</div>
