<div id="skills" class="mb-4">
  <h2>Competenze</h2>
  <p class="cvPartElement">Programmazione ad oggetti <span class="text-muted">(Java, C#)</span></p>
  <p class="cvPartElement">Full-Stack development <span class="text-muted">(HTML, CSS, Javascript, PhP, MySQL, WordPress)</span></p>
  <p class="cvPartElement">Conoscenza e manualità dell'hardware e conoscenza del mercato consumer</p>
  <p class="cvPartElement">Capacità di gestire community e server dedicati</p>
  <p class="cvPartElement">Conoscenza intermedia di sistemi di rete</p>
</div>
