<div class="container-fluid">
  <div class="row">
    {% include "_cvSidebar.html" %}

        <main class="col-md-9 col-lg-10 px-4 py-3">
      <p style="font-size: 3rem">La pagina è ancora incompleta</p>
      {# <a href="/assets/files/Michele_Garofalo_CV.pdf" download> #}
      <a>
        <p class="modernButton modernNeonButton disabledButton">Scarica PDF</p>
        Prossimamente...
      </a>

      <div class="col-10">
        
      {% include "cvParts/_profile.html" %}

      {% include "cvParts/_skills.html" %}

      {% include "cvParts/_experience.html" %}

      {% include "cvParts/_education.html" %}</div>
    </main>
  </div>
</div>
