<section class="features-prices" id="features-prices">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-12">
        <h2>Perchè scegliere noi</h2>
        <div class="features-grid">
          <div class="feature-card">
            <i class="bi bi-activity"></i>
            <h3>Efficienza</h3>
            <p>Ci teniamo ad essere veloci e precisi cercando sempre di guidare il cliente verso la scelta più conveniente possibile</p>
          </div>
          <div class="feature-card">
            <i class="bi bi-chat-dots-fill"></i>
            <h3>Reperibilità</h3>
            <p>Siamo disponibili a chiarire qualsiasi dubbio, in qualsiasi momento, sia prima che dopo l’accordo, per garantire la migliore esperienza</p>
          </div>
        </div>
      </div>





      <div class="col-xl-6 col-12">
        <h2>Prezzi e servizi</h2>
        <div class="prices">
          <h5><i class="bi bi-amazon"></i> Guida all'acquisto: €10</h5>
          <p class="pt-2">
            Dedicheremo il tempo necessario, di persona o telefonicamente per
            aiutarvi a fare la scelta più giusta per le vostre esigenze
          </p>
          <hr/>
          <h5><i class="bi bi-pc-display"></i> Assemblaggio: €20</h5>
          <p class="pt-2">
            Ci accorderemo per incontrarci e dedicare del tempo all'assemblaggio
            dei vari componenti per rendere il PC funzionante al 100%
          </p>
          <hr/>
          <h5><i class="bi bi-person-fill-gear"></i> Assistenza: Variabile</h5>
          <p class="pt-2">
            Faremo una chiaccherata per capire il problema e solo dopo si
            deciderà un prezzo in base alla difficcoltà. Se non dovessimo riuscire
            a risolvere il problema il servizio sarà gratuito
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
