    <footer>
      <div class="footer-content">
        <div class="footer-col">
          <h4><i class="bi bi-geo-alt"></i> Contatti</h3>
          <p>teloriparo@gmail.com</p>
        </div>

        <div class="footer-col">
            <h4><i class="bi bi-globe"></i> Social</h4>
          <div class="social-links">
            <p>
              <a href="#"><i class="bi bi-telegram"></i> Telegram</a>
            </p>
            <p>
              <a href="#"><i class="bi bi-discord"></i> Discord</a>
            </p>
            <p>
              <a href="#"><i class="bi bi-github"></i> Github</a>
            </p>
            <p>
              <a href="#"><i class="bi bi-linkedin"></i> Linkedin</a>
            </p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <i class="bi bi-c-circle"></i> Parte del copyright
      </div>
    </footer>