<header>
      <div class="logo"><h1>Teloriparo.it</h1></div>
      <div class="burger">&#9776;</div>
      <nav class="nav-links">
        <a href="#">Notizie</a>
        <a href="#features-prices">Prezzi e servizi</a>
        <a href="#">Chi siamo</a>
        <a href="#">FAQ</a>
      </nav>
      <div class="extrabuttons">
        <button class="btn">Admin</button>
        <button class="btn bi-bug-fill" data-bs-toggle="modal" data-bs-target="#bugReportModal"></button>
        <button class="btn bi bi-clipboard2-check"  data-bs-toggle="modal" data-bs-target="#privacyInfoModal"></button>
      </div>
    </header>