<section class="service">
  <div class="container">
    {#
    <div class="row">
      <div class="col-xl-6 col-12" id="service-switch">
        <button class="btn">Gaming</button>
        <button class="btn-off">Ufficio</button>
        <button class="btn-off">Assistenza</button>
        <div class="col-xl-6 col-12"></div>
      </div>
    </div>
    #}
    {# <input type="radio" class="btn-check" name="withScreen" id="screenYes" value="Si" autocomplete="off" required checked>
            <label class="btn btn-primary" for="screenYes" id="labelScreenYes">Sì</label>

            <input type="radio" class="btn-check" name="withScreen" id="screenNo" value="No" autocomplete="off" required>
            <label class="btn" for="screenNo" id="labelScreenNo">No</label> #}
            
        {# <form action="service-form" class="needs-validation" method="POST" novalidate>
          <input type="radio" class="service-form-btn" name="mainQuestion" id="mainQuestion" required>
          <label for="mainQuestion" id="mainQuestion">Ho bisogno di un nuovo PC</label> #}
    <div class="row pt-4" id="service">
      <div class="col-xl-7 col-12">
        <div class="service-content fade show">
          <h2><i class="bi bi-info-circle"></i> Richiedi subito una consulenza!</h2>
          <ul style="font-size: 1.2rem">
            <li><p>Compila il form</p></li>
            <li><p>Mettiamoci in contatto</p></li>
            <li><p>Incontriamoci</p></li>
            <li><p>Accendi il tuo PC e gioca</p></li>
          </ul>
          <button class="btn" id="openFormBtn">Compila il form</button>
        </div>
    <div class="service-form fade d-none" id="main-form">
      <h2>Di cosa hai bisogno?</h2>
      <ul style="font-size: 1.2rem">
        <li><span><p class="service-form-btn" data-choice="newpc">Ho bisogno di un nuovo PC</p></span></li>
        <li><p class="service-form-btn" data-choice="assistance">Ho bisogno di assistenza</p></li>
      </ul>
    </div>
      </div>
      <div class="col-xl-5 col-12">
        <div class="service-image">
          <img src="/assets/images/gaming-desk.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
