@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(35, 35, 35);
}

header,
footer {
  background-color: rgb(18, 18, 18);
  display: flex;
  height: $header-height;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  height: auto;
}

a {
  text-decoration: none;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
}

.logo img {
  height: 10vh;
  object-fit: contain;
}

.presentationImage {
  border-radius: $border-radius;
  overflow: hidden;
}

.presentationImage img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.bordered {
  border: 1px solid #9ca3af;
  border-radius: $border-radius;
  padding: 15px;
}

.nav a {
  padding: 10px;
  border: none;
  gap: 15px;
  font-size: $size-1;
}

.form-select, .form-control {
  background-color: rgba(59, 59, 59);
  border-radius: 15px;
}

.form-control {
  color: white;
}

.form-floating > textarea:not(:placeholder-shown) ~ label::after {
  background-color: transparent !important;
}

.modal-body {
  max-height: 60vh; /* altezza massima del contenuto */
  overflow-y: auto;  /* abilita lo scroll verticale */
  padding-right: 1rem; /* evita che il testo venga coperto dalla scrollbar */
}

.form-floating > label {
  color: $neon-blue;
}

.cvPartElement {
  padding: 10px;
}

.cvPartElement:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  border-radius: 15px;
}