@import 'variables';

.size-1 { font-size: $size-1; }
.size-2 { font-size: $size-2; }
.size-3 { font-size: $size-3; }

.neon-blue { color: $neon-blue; }

h1, h2, h3, h4, h5 {
  color: $neon-blue;
}

h2 {
  margin-bottom: 15px;
}